<div class="row portfolio-content pt-lg-6 pb-lg-6 pt-5 text-primary">
    <div class="container">
        <h1 class="text-uppercase text-center text-md-left pt-lg-6" style=" color: #ffffff">FullStack Developer</h1>
        <h4 class="text-uppercase text-center text-md-left"  style=" color: #ffffff">Expert in FrontEnd Development </h4>
        <h4 class="text-uppercase text-center text-md-left"  style=" color: #ffffff">Now available for you </h4>
    </div>   
</div> 
<footer class="footer">
    <div class="footer-container">
        <div class ="row" style="width: 180%">
            <div class ="col-sm-12 col-md-1 text-center mb-3 mb-md-0" style=" color: #ffffff">
                <i class="fa-3x fa fa-users fa-3x"></i>
            </div>
            <div class ="col-sm-12 col-md-3 text-center text-md-left mb-3 mb-md-0" style=" color: #ffffff">
                <h4>
                Good Team Player
                </h4>
            </div>
            <div class ="col-sm-12 col-md-1 text-center mb-3 mb-md-0" style=" color: #ffffff">
                <i class="fa fa-handshake-o fa-3x"></i>
            </div>
            <div class ="col-sm-12 col-md-3 text-center text-md-left mb-2 mb-md-0" style=" color: #ffffff">
                <h4>
                        Delivered high quality products on time
                </h4>
            </div>
            <div class ="col-sm-12 col-md-1 text-center mb-3 mb-md-0" style=" color: #ffffff">
                <i class="fa fa-snowflake-o fa-3x "></i>
            </div>
            <div class ="col-sm-12 col-md-3 text-center text-md-left mb-3 mb-md-0" style=" color: #ffffff">
                <h4>
                    Developed responsive software based on customers requets 
                </h4>
            </div>
        </div>
    </div>
</footer>
<router-outlet></router-outlet>