@import '~@angular/material/theming';

@include mat-core();

$primary: mat-palette($mat-blue, 500, 100, 700);
$accent:  mat-palette($mat-blue, 800);
$warn:    mat-palette($mat-red);
$subheader: rgba(51, 51, 51, 0.737254901960784);

$theme: mat-light-theme($primary, $accent, $warn);



@include angular-material-theme($theme);
