<div>
<div ></div>    
<img class="img-responsive" src="assets/portfolio.jpg">
<h4 class= "skills">
    PROFESSIONAL SKILLS
    <mat-card class="prof">
       <h5> Constant Learner</h5>
       <h5> Expertised knowledge in Angular5/6.</h5>
        <h5>Decent knowledge in SCALA, AWS, S3.</h5>
    </mat-card>
</h4>
<div class="skillset">
  <div><h4 style=" color: #ffffff;">SELF ASSESMENTS</h4></div>  



<div style="float: right"><h5 style=" color: #ffffff; margin-left: 80px;margin-top: 20px">AWS&S3</h5>   
    <circle-progress  class="skillknowledge"
        [title]=""
        [subtitle]=""
        [percent]="30"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#2db82d'"
        [innerStrokeColor]="'#FF6347'"
        [animation]="true"
        [animationDuration]="300"
    ></circle-progress>
</div> 

<div style="float: right"><h5 style=" color: #ffffff; margin-left: 80px;margin-top: 20px">Scala</h5>   
<circle-progress  class="skillknowledge"
[percent]="40"
[radius]="100"
[outerStrokeWidth]="16"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#2db82d'"
[innerStrokeColor]="'#FF6347'"
[animation]="true"
[animationDuration]="300"
></circle-progress>
</div>

<div style="float: right"><h5 style=" color: #ffffff; margin-left: 80px;margin-top: 20px">ReactJS</h5> 
    <circle-progress  class="skillknowledge"
    [percent]="70"
    [radius]="100"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#2db82d'"
    [innerStrokeColor]="'#FF6347'"
    [animation]="true"
    [animationDuration]="300"
    ></circle-progress>
    </div>

<div style="float: right"><h5 style=" color: #ffffff; margin-left: 80px;margin-top: 20px">CSS</h5> 
<circle-progress  class="skillknowledge"
[percent]="85"
[radius]="100"
[outerStrokeWidth]="16"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#2db82d'"
[innerStrokeColor]="'#FF6347'"
[animation]="true"
[animationDuration]="300"
></circle-progress>
</div>

<div style="float: right"><h5 style=" color: #ffffff; margin-left: 80px;margin-top: 20px">HTML 5 </h5> 
    <circle-progress  class="skillknowledge"
    [percent]="85"
    [radius]="100"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#2db82d'"
    [innerStrokeColor]="'#FF6347'"
    [animation]="true"
    [animationDuration]="300"
    ></circle-progress>
</div>

<div style="float: right"><h5 style=" color: #ffffff; margin-left: 80px;margin-top: 20px">Angular5/6 </h5> 
    <circle-progress class="skillknowledge"
    [percent]="90"
    [radius]="100"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#2db82d'"
    [innerStrokeColor]="'#FF6347'"
    [animation]="true"
    [animationDuration]="300"
    ></circle-progress>
</div>



</div>
</div>
<router-outlet></router-outlet>
