<div *ngFor="let app of modellingApps"> </div>
<mat-horizontal-stepper>
    <mat-step>
      <ng-template matStepLabel>Moody's Analytics</ng-template>
      <h4>Moody's Analytics, San Francisco, CA </h4>
      <h5>Software Engineer/ Web Developer </h5>
      <h6>Collobarative Analytics Platform</h6>
      •	Developed Collaborative Analytics Platform using HTML5, LESS,  Material Design & Angular5/6 from scratch.<br>
      •	Developed CAP on Nrwl Nx environment to maintain code consistency among different applications.<br>
      •	Developed  Model Monitoring app, Data Lab and integrated to Collaborative Analytics Platform (CAP) using Scala, S3 bucket, Angular5/6, and D3.js, Highcharts.<br>
      •	Customized  Material Design components for the application using CSS preprocessors and mixins.<br>
      •	Used NgRx store to handle  Data services.
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Philips</ng-template>
      <h4>Philips Healthcare Informatics Inc., Foster City, CA </h4>
      <h5>Software Engineer/ Web Developer </h5>
      •	Developed Patient Worklist Component for Radiology Workspace Solution using HTML5, LESS,DoJoJS & Angular2 <br>
      •	Developed Data service to access data for Patient Worklist Component from a REST API provided by Picture Archiving and Communication server using RxJS and Angular2 Observables.<br>
      •	Worked closely with UX Design team and developed a standalone Instant chat feature and integrated to Radiology Workspace solution (RWS) using MongoDB, Angular2, Express and NodeJS.<br>
      •	Improved Automation coverage for the application from 43% to 75% using Protractor, Karma and Jasmine reporters<br>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>eBay</ng-template>
      <h4>eBay Inc., Texas, TX </h4>
      <h5>Intern</h5>
      •	Designed layouts for product gallery and dynamic filter selection features for Montage Monitoring using HTML, CSS, jQuery and React<br>
      •	Developing automation test cases and unit test cases for the application using Python and Selenium<br>
      •	Participated in daily scrum team activities and handled high priority bugs.
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>PrincetoITS</ng-template>
      <h4>Princeton IT Services, Hyderabad, India </h4>
      <h5>Software Engineer</h5>
      •	Worked on developing property management web application for clients such as 99acres.com in Java, JSP and Spring MVC and Spring Core<br>
      •	Implemented JAX-WS(SOAP) web services using Spring-WS framework for the application<br>
      •	Designed and developed the home page for the application using HTML, CSS and jQuery<br>
      •	Authored performance and load measurement scripts using LoadUI, SoapUI, Postman, Groovy.<br>
      •	Created the automation framework for the application using Java & Selenium in Page object design pattern<br>
      •	Developed Junit test case design logic and implmentation throughout the application.<br>
    </mat-step>
  </mat-horizontal-stepper>
<router-outlet></router-outlet>