<mat-card class="profile">
  <div  fxLayout="row" fxFlex fxLayoutAlign="center center">
  <div><h2 style=" padding-left: 600px;"> <img class="img-responsive3" src="assets/education.jpg">EDUCATION</h2></div>
</div>
  
  <h3 class="content">M.S. in Electronics and Computers Engineering</h3>
  <h3 class="content">B.S. in Electrical Engineering</h3>

  <h2 class="content2">FIND ME @</h2>
  <div class="allLinks">
  <img class="img-responsive" src="assets/linkedin.png">
  <a class="linkedin" href="https://www.linkedin.com/in/madhurieluri/">https://www.linkedin.com/in/madhurieluri/</a>
  <img class="img-responsive" src="assets/facebook.png">
  <a class="facebook" href="https://m.facebook.com">https://m.facebook.com</a><br>
  <div style="padding-top: 50px;">
  <img class="img-responsive" src="assets/github.png">
  <a class="github" href="https://github.com/madhurieluri">https://github.com/madhurieluri</a>
  <img class="img-responsive2" src="assets/gmail.png">
  <a class="gmail" href="emadhuri579@gmail.com">emadhuri579@gmail.com</a>
</div>
</div>
</mat-card>
<router-outlet></router-outlet>
