.profile{
    margin: 12px;
}
.content{
    display: flex !important;
    justify-content: center;
    color: rgba(0,0,0,0.70);
}
.content2{
    margin-top: 35px;
    display: flex !important;
    justify-content: center;
    color: rgba(0,0,0,0.70);
}

.img-responsive{
    height: 100px;
    width: 100px;
    margin-left: 100px;
    margin-right: 25px;
}
.linkedin{
    font-size: 24px;
}
.facebook{
    font-size: 24px;
}
.github{
    font-size: 24px;
}
.gmail{
    font-size: 24px;
}

.img-responsive2{
    height: 100px;
    width: 100px;
    margin-left: 200px;
    margin-right: 25px;
}

.allLinks{
    padding-top: 50px;
    padding-left: 300px;
}
.img-responsive3{
    height: 100px;
    width: 100px;
    margin-left: 100px;
    margin-right: 25px;
}